<p>list-nv works!</p>
<div class="container">
  <a class="btn btn-success" routerLink="/contract/create">Create</a><br>
  <div>
    <input type="text" placeholder="search" [(ngModel)]="keyword" name="keyword"/>
    <!-- <button (click)="Search()" >Search</button> -->
  </div>
  <table class="table table-danger">
    <tr>
      <th>ID</th>
      <th>Eployee</th>
      <th>Customer</th>
      <th>Service</th>
      <th>Start Day</th>
      <th>End Day</th>
      <th>Monney</th>
      <th>Rent Cost</th>
      <th>Ation</th>
    </tr>
    <tr *ngFor="let c of contractList | filter:keyword| paginate: { itemsPerPage: 5, currentPage: p }, index as i">
      <td>
        {{c.id}}
      </td>
      <td>
        {{c.employee.hoTen}}
      </td>
      <td>
        {{c.customer.hoTen}}
      </td>
      <td>
        {{c.service.tenDV}}
      </td>
      <td>
        {{c.ngayLam}}
      </td>
      <td>
        {{c.ngayHet}}
      </td>
      <td>
        {{c.tienDatCoc}}
      </td>
      <td>
        {{c.tongTien}}
      </td>
      <td><button class="btn btn-success" (click)="deleteHD(i)">delete</button></td>
      <td><a class="btn btn-primary" [routerLink]="['/contract/edit', c.id]">edit</a></td>
      <router-outlet></router-outlet>
    </tr>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
