<div class="container">
  <h1>Book Page</h1>
  <a class="btn btn-success" routerLink="/book/create">Create Book</a><br>
  <table class="table table-danger">
    <tr>
      <th>ID</th>
      <th>title</th>
      <th>author</th>
      <th>Ation</th>
    </tr>
    <tr *ngFor="let c of bookList, index as i">
      <td>
        {{c.id}}
      </td>
      <td>
        <a [routerLink]="['/book/detail', c.id]">{{c.title}}</a>
      </td>
      <td>
        {{c.author}}
      </td>
      <td><a class="btn btn-primary" [routerLink]="['/book/edit', c.id]">edit</a></td>
      <td><a class="btn btn-primary" [routerLink]="['/book/delete', c.id]">delete</a></td>
    </tr>
  </table>
</div>
