<h2>Customer</h2>
<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      MA-KH
        <br>
        <input type="text" placeholder="KH-xxxx" formControlName="maKH">
    </label>
</div>
<div *ngIf="customerForm.get('maKH').invalid && customerForm.get('maKH').touched" style="color: red">
  <span *ngIf="customerForm.get('maKH').hasError('required')">MA-KH is required</span>
  <span *ngIf="customerForm.get('maKH').hasError('pattern')">Try again</span>
</div>
    <div>
        <label>
          Name
            <br>
            <input type="text" formControlName="hoTen">
        </label>
    </div>
    <div *ngIf="customerForm.get('hoTen').invalid && customerForm.get('hoTen').touched" style="color: red">
      Name is required
    </div>
    <div>
        <label>
          Date of Birth
            <br>
            <input type="date" formControlName="ngaySinh">
        </label>
    </div>
    <div *ngIf="customerForm.get('ngaySinh').invalid && customerForm.get('ngaySinh').touched" style="color: red">
      please choose!!!
    </div>
    <div>
      <label>
        Id Card
          <br>
          <input type="text" formControlName="soCM">
      </label>
  </div>
  <div *ngIf="customerForm.get('soCM').invalid && customerForm.get('soCM').touched" style="color: red">
    IdCard is required
  </div>
  <div>
    <label>
      Phone Number
        <br>
        <input type="text" formControlName="soDT">
    </label>
</div>
<div *ngIf="customerForm.get('soDT').invalid && customerForm.get('soDT').touched" style="color: red">
  Phone Number
</div>
<div>
  <label>
    Email
      <br>
      <input type="email" formControlName="email">
  </label>
</div>
<div *ngIf="customerForm.get('email').invalid && customerForm.get('email').touched" style="color: red">
  Email is required
</div>
<div>
  <label>
    Address
      <br>
      <input type="text" formControlName="diaChi">
  </label>
</div>
<div *ngIf="customerForm.get('diaChi').invalid && customerForm.get('diaChi').touched" style="color: red">
  Address is required
</div>
    <button type="submit">Submit</button>
</form>

