<h2>Customer</h2>
<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div>
        <label>
          Name
            <br>
            <input type="text" formControlName="hoTen">
        </label>
    </div>
    <div *ngIf="customerForm.get('hoTen').invalid && customerForm.get('hoTen').touched" style="color: red">
      <span *ngIf="customerForm.get('soCM').hasError('required')">Name is required</span>
      <span *ngIf="customerForm.get('soCM').hasError('pattern')">Try again</span>
    </div>
    <div>
        <label>
          Date of Birth
            <br>
            <input type="date" formControlName="ngaySinh">
        </label>
    </div>
    <!-- <div *ngIf="customerForm.get('ngaySinh').invalid && customerForm.get('ngaySinh').touched" style="color: red"></div> -->
    <div>
      <label>
        Id Card
          <br>
          <input type="text" formControlName="soCM">
      </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="customerForm.get('soCM').invalid && customerForm.get('soCM').touched" style="color: red">
  <span *ngIf="customerForm.get('soCM').hasError('required')">IdCard is required</span>
  <span *ngIf="customerForm.get('soCM').hasError('pattern')">IdCard must be XXXXXXXXXXXX(X:0-9)</span>
  </div>
  <div>
    <label>
      Phone Number
        <br>
        <input type="text" placeholder="(+84)90xxxxxxx" formControlName="soDT">
    </label>
</div>
<div *ngIf="customerForm.get('soDT').invalid && customerForm.get('soDT').touched" style="color: red">
  <span *ngIf="customerForm.get('soDT').hasError('required')">Phone is required</span>
  <span *ngIf="customerForm.get('soDT').hasError('pattern')">Phone must start with +84 followed by 9 or 10 digits.</span>
</div>
<div>
  <label>
    Email
      <br>
      <input type="email" placeholder="abc@mail.com" formControlName="email">
  </label>
</div>
<div *ngIf="customerForm.get('email').invalid && customerForm.get('email').touched" style="color: red">
  <span *ngIf="customerForm.get('email').hasError('required')">Email is required</span>
  <span *ngIf="customerForm.get('email').hasError('pattern')"></span>
</div>
<div>
  <label>
    Address
      <br>
      <input type="text" formControlName="diaChi">
  </label>
</div>
<div *ngIf="customerForm.get('diaChi').invalid && customerForm.get('diaChi').touched" style="color: red">
  Address is required
</div>
    <button type="submit">Submit</button>
</form>

