<div class="container">
  <a class="btn btn-light" routerLink="/service/create">Create</a><br>
  <div>
    <input type="text" placeholder="search" [(ngModel)]="keyword" name="keyword"/>
  </div>
  <table class="table table-danger">
    <tr>
      <th>ID</th>
      <th>Name Service</th>
      <th>Areas</th>
      <th>Number Of Floor</th>
      <th>Number Of Max People</th>
      <th>Rent</th>
      <th>Type Rent</th>
      <th>Status</th>
      <th>Ation</th>
    </tr>
    <tr *ngFor="let dv of dvList | filter:keyword| paginate: { itemsPerPage: 5, currentPage: p }, index as i">
      <td>
        {{dv.id}}
      </td>
      <td>
        {{dv.tenDV}}
      </td>
      <td>
        {{dv.dienTich}}
      </td>
      <td>
        {{dv.soTang}}
      </td>
      <td>
        {{dv.soNguoiToiDa}}
      </td>
      <td>
        {{dv.chiPhiThue}}
      </td>
      <td>
        {{dv.kieuThue}}
      </td>
      <td>
        {{dv.trangThai}}
      </td>
      <td><button class="btn btn-success" (click)="deleteDV(i)">delete</button></td>
      <td><a class="btn btn-primary" [routerLink]="['/service/edit', dv.id]">edit</a></td>
      <router-outlet></router-outlet>
    </tr>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
